#title {
	font-size: 50px;
	color: darkmagenta;
	background-color:  pink;
	display: inline;
	text-align: center;
	margin-left: 650px;
}

#tableId {
	border: solid black 5px;
	width: 400px;
	height: 375px;
	background-color: white;
	font-size: 30px;
	color: black;
	text-align: center;
	margin-left: 550px;
}


input[type="text"] {
	border: solid black 5px;
	width: 300px;
	height:  75px;
	background-color: white;
	font-size: 30px;
	color:  black;
}

input[type="button"] {
	border: solid black 5px;
	width: 100px;
	height: 75px;
	background-color: darkcyan;
	font-size: 30px;
	color:  black;
	text-align: center;
}

#arithmetic{
	color: yellowgreen;
}

body{
	background-color: pink;
}
